<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="{{ domain }}/#about-me">学术主页</a>
          </li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              {% if link.title == "English" %}
                <a href="{{ link.url }}" target="_self" id="english-link">{{ link.title }}</a>
              {% elsif link.url contains "http" and link.url contains "://" %}
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
              {% else %}
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
